/* ====================
---Main Page Styles
======================= */

body {
	background: rgba(41,184,229,1);
	background: -moz-linear-gradient(bottom left, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(41,184,229,1)), color-stop(90%, rgba(188,224,238,1)), color-stop(100%, rgba(188,224,238,1)));
	background: -webkit-linear-gradient(bottom left, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
	background: -o-linear-gradient(bottom left, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
	background: -ms-linear-gradient(bottom left, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
	background: linear-gradient(to top right, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 90%, rgba(188,224,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#bce0ee', GradientType=1 );
}

h1, h2, h3, h4, h5, .navbar-brand, .nav-link {
	font-family: 'Righteous', cursive;
}

.main-navbar {
	border: white 2px solid;
	border-radius: 5%;
	margin-bottom: 1em;
}

.btn {
	border: white 2px solid;
	border-radius: 15%;
	background-color: skyblue;
	color: black;
}

.btn:hover {
	background-color: gray;
	border: white 2px solid;
}

.jumbotron {
	background-color: #E4FFE4;
	border: white 10px solid;
	border-radius: 5%;
}

/* ====================
---Main Page Card Styles
======================= */

.info-tabs {
	margin: 2em auto 2em auto;
}

.event-calendar, .about-fjet {
	margin-right: 5em;
}

.card {
	border: white 10px solid;
}

.card-body {
	background-color: #E4FFE4;
	color: black;
}

/* ====================
---Footer Styles
======================= */

footer {
	text-align: center;
	align-content: center;
}


.contact ul {
	display: inline-flex;
	list-style: none;
	margin-right: 1.5em;
}

.contact ul li {
	margin-right: 1em;
}