/* ====================
---Main Page Styles
======================= */
html, body {
	height: auto;
	width: 100%;
	background: linear-gradient(180deg, #00b8ff, #ffffff);
	opacity: 1;
	transition: 2.5s opacity;
	margin: 0;
	padding: 0;
}

body.fade {
	opacity: 0;
	transition: none;
}

h1, h2, h3, h4, h5, .navbar-brand, .nav-link {
	font-family: 'Gochi Hand', cursive;
}

h1 {
	font-size: 5em;
}

.about p {
	font-size: 20px;
}

.btn {
	border: white 2px solid;
	border-radius: 4px;
	background-color: #00b8ff;
	color: black;
}

.btn:hover {
	background-color: gray;
	border: white 2px solid;
}

.f-letter {
	font-size: 2em;
}

/* ====================
---Navbar Styles
======================= */

.main-navbar {
	border: white 10px solid;
	border-radius: 20px;
	padding: .8rem;
	background-color: #E4FFE4;
}

.navbar-brand {
	font-size: 4em;
	margin-left: 1em;
}

.nav-item {
	font-size: 3em;
	padding: .8rem;
}

.nav-item:hover, .navbar-brand:hover {
	transform: scale(1.1);
	transition: all .5s ease;
}

.currentPage {
	color: #00b8ff;
}

/* ====================
---Image Slider Styles
======================= */

.carousel-inner img {
	width: 95%;
	height: 50rem;
}

/* ====================
---Main Page Card Styles
======================= */

.info-tabs {
	align-items: center;
}

.card {
	border: white 10px solid;
	margin: 2em;
}

.card-body {
	background-color: #E4FFE4;
	color: black;
}

@media screen and (max-width: 600px) {
	.info-tabs {
		width: auto;
		margin-left: 24%;
	}
}

@media all and (max-width: 400px) {
	.card {
		width: 100%;
	}
}

/* ====================
---Calendar Styles
======================= */

.responsive-iframe-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
	
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 85%;
}

/* ====================
---Contact Form
======================= */

#emailBody {
	width: 20rem;
}

#emailSubmit {
	font-size: 2em;
	font-family: 'Gochi Hand', cursive;
	margin: 10px 10px 20px 0;
	background-color: #00b8ff;
	border: white 2px solid;
	border-radius: 4px;
}

#emailSubmit:hover {
	transform: scale(1.1);
	transition: all .5s ease;
	background-color: gray;
	border: white 2px solid;
}

/* ====================
---Footer Styles
======================= */

footer {
	text-align: center;
	align-content: center;
}


.contact ul {
	display: inline-flex;
	list-style: none;
	margin-right: 1.5em;
}

.contact ul li {
	margin-right: 1em;
}

.icon {
	font-size: 3em;
}

/* ====================
---Media Queries
======================= */

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}